.input-button,
.input {
  height: 2.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: #ffffff11;
  color: #ffffff;
  font-weight: 300;
}

.input {
  width: 100%;
  font-size: 0.75rem;
  cursor: text;
}

.input-button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.input-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:hover,
.input-button:not(:disabled):hover {
  background: #ffffff22;
}

.input:focus {
  background: #ffffff33;
}

.input-button:not(:disabled):active {
  scale: 0.5;
}

